*{
	box-sizing: border-box;
}

body{
	background-image: url('../images/wild_flowers.png');
	background-attachment: fixed;
}

header{
	position: fixed;
	background-color: white;
	padding-right: 100%;
	padding-bottom: 116px;
}

#name{
	position: absolute;
	background-color: #4aaaa5;
	padding: 50px;
	float: left;
}

#links{
	position: absolute;
	padding: 49px;
	width: 400px;
	left: 200px;
}

#link_index, #link_portfolio, #link_contact{
	width: 33.33%;
	text-align: center;
	float: left;

}

#footer{
	position: relative;
	background-color: #666666;
	border-top: 10px solid #4aaaa5;
	padding: 40px;
	text-align: center;
	color: white;
}